<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card center-card shadow p-3 mb-5 bg-white rounded align-content-center" style="width: 400px; margin-top: 50px; border-color: white;">
                <img class="card-img-top mx-auto " style="width: 200px; height: 200px;" src="../../../assets/images/imageLogin.png" alt="Card image cap">
                <div class="card-body">

                    <div *ngIf="isUnauthorized" class="alert alert-danger" role="alert">
                        Usuario o contraseña incorrecta
                    </div>
                    <form id="form1" name="form1" #form="ngForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuario</label>
                            <input type="text" [(ngModel)]="user.userName" (keyup)="validated(false)" placeholder="Introduce número de control" name="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" (keyup)="validated(false)" [(ngModel)]="user.password" placeholder="Introduce tu contraseña" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="inputState">Tipo usuario</label>
                            <select [(ngModel)]="userType" id="inputUser" name="select" class="form-control">
                                <option selected >Seleccione tipo de usuario...</option>
                                <option >Alumno</option>
                                <option >Asesor</option>
                                <option >Encargado de residencias</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary text-center" value="Acceder" (click)="Login()">
                        </div>
                        <!-- <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div> -->
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>